@import "tailwindcss";

:root {
  --color-primary: #2EB87A;       /* メインカラー */
  --color-bg: #E8F8F0;            /* 背景色 */
  --color-accent: #1A9960;        /* 強調・ホバー */
  --color-card-bg: #F4FBF8;       /* カード背景 */
  --color-text: #1C2B24;          /* テキスト色 */
  --color-sub: #7BAF97;           /* サブ文字・枠・線 */
  --color-danger: #EF4444;        /* 警告・注意 */
  --color-danger-bg: #FFEBEB;     /* 警告・注意（背景） */
  --color-link: #1F7FBF;          /* リンク */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--color-text);
  font-family: var(--font-jp), sans-serif;
  background: url(/images/shared/bg.png) no-repeat center / cover;
}

.font-en {
  font-family: var(--font-en), var(--font-jp),sans-serif;
}

@layer components {
  /* common */
  .y-middle {
    @apply left-1/2 -translate-x-1/2;
  }
}